main {
  position: absolute;
  transform-origin: 0 0;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #eee;
  transform: scaleX(calc(var(--scale) / 2.1)) scaleY(0.7) translateZ(0.1px);
  transition: transform 1s ease;
}