.demo-dot {
    position: absolute;
    font: normal 15px sans-serif;
    text-align: center;
    cursor: pointer;
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    left: calc(var(--x-coord) * 1px);
    top: calc(var(--y-coord) * 1px);
    border-radius: calc(var(--size) / 2 * 1px);
    line-height: calc(var(--size) * 1px);
    background: var(--bg, blue);
}

.demo-dot:hover {
    background: var(--hover-bg, red);
}